.btn {
  padding: 2px 15px;
  background: #8c45ff66;
  box-shadow: 0px 0px 5px 5px #ffffff40 inset;
  color: #ffffff;
  border: 1px solid #ffffff26;
  border-radius: 8px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.0001em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}
